.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: var(--gray-700);
}

.header img {
  display: flex;
  align-items: center;
  width: 126px;
  height: 48px;  
  top: 72px;
}