.wrapper {    
  position: relative;
  width: 90rem;
  height: 64rem;
  background: #1A1A1A;  
  
}


@media (max-width: 90rem) {

  html{
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}